h1{
	size: 400;
	/*color: #3d2412;*/
	font-style: bold;
    font-size: xx-large;
	
	font-family: 'Courier New', Courier, monospace;
    text-decoration: underline #a47dee ;
	background-image: linear-gradient(180deg, #A1FFCE,#0bb1a8); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: #00cec9 1px 0 10px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    /* text-decoration: underline #a47dee ; */
	background-image: linear-gradient(180deg, #A1FFCE,#0bb1a8); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center; 

}